{% load static %}
	<!-- FOOTER-2
			============================================= -->
			<footer id="footer-2" class="bg_whitesmoke footer division">
				<div class="container">


					<!-- FOOTER CONTENT -->
					<div class="row">

						
						<!-- FOOTER INFO -->
						<div class="col-lg-4">
							<div class="footer-info mb-40">

								<!-- Footer Logo -->
								<img class="footer-logo mb-25" src="{% static 'images/1024.png' %}" alt="footer-logo">

								<!-- Text -->	
								<p class="p-md">{{m.f_moto_description}}
								</p>

							</div>	
						</div>	


						<!-- FOOTER LINKS -->
						<div class="col-sm-6 col-md-3 col-lg-2">
							<div class="footer-links mb-40">
							
								<!-- Title -->
								<h5 class="h5-xs">{{m.f_company_title}}</h5>

								<!-- Footer Links -->
								<ul class="foo-links clearfix">
									<li><p class="p-md"><a href="{% url 'about' %}">{{m.m_about}}</a></p></li>
									<li><a href="{% url 'cookie' %}">{{m.m_coockie}}</a></li>
									<li><p class="p-md"><a href="https://gdpr-info.eu/" target="_blank">GDPR</a></p></li>								
								</ul>

							</div>
						</div>


						<!-- FOOTER LINKS -->
						<div class="col-sm-6 col-md-3 col-lg-2">
							<div class="footer-links mb-40">
												
								<!-- Title -->
								<h5 class="h5-xs">{{m.f_info_title}}</h5>

								<!-- Footer List -->
								<ul class="foo-links clearfix">
								<li><p class="p-md"><a href="{% url 'platform' %}">{{m.m_platform}}</a></p></li>	

									<li><p class="p-md"><a href="{% url 'webapp' %}">{{m.m_webapp}}</a></p></li>	
								<li><p class="p-md"><a href="{% url 'faqs' %}">{{m.m_faqs}}</a></p></li>								
								</ul>

							</div>	
						</div>


						<!-- FOOTER LINKS -->
						<div class="col-sm-6 col-md-3 col-lg-2">
							<div class="footer-links mb-40">
							
								<!-- Title -->
								<h5 class="h5-xs">Download</h5>

								<!-- Footer List -->
								<ul class="foo-links clearfix">
									<li><p class="p-md"><a href="https://play.google.com/store/apps/details?id=com.a2.books"target="_blank">Android</a></p></li>																
									<li><p class="p-md"><a href="https://apps.apple.com/us/app/a2-books/id1596772645" target="_blank">iPhone & iPad</a></p></li>
									<li><p class="p-md"><a href="https://app.a2.software/"target="_blank">Windows</a></p></li>
									<li><p class="p-md"><a href="https://app.a2.software/"target="_blank">MacOS</a></p></li>						
								</ul>

							</div>
						</div>


						<!-- FOOTER LINKS -->
						<div class="col-sm-6 col-md-3 col-lg-2">
							<div class="footer-links mb-40">
							
								<!-- Title -->
								<h5 class="h5-xs">{{m.f_support_title}}</h5>

								<!-- Footer Links -->
								<ul class="foo-links clearfix">
									<li><p class="p-md"><a href="{% url 'contact' %}">{{m.m_contact}}</a></p></li>
																							
																
								</ul>

							</div>
						</div>


					</div> <!-- END FOOTER CONTENT -->


					<!-- BOTTOM FOOTER -->
					<div class="bottom-footer">
						<div class="row d-flex align-items-center">


							<!-- FOOTER COPYRIGHT -->
							<div class="col-md-6">
								<div class="footer-copyright">
									<p>&copy; 2022 A2 Software SRL. All Rights Reserved</p>
								</div>
							</div>


							<!-- BOTTOM FOOTER LINKS -->
							<div class="col-md-6">
								<ul class="bottom-footer-list text-right clearfix">
									<li class="first-li"><a href="https://www.facebook.com/BibliotecaLigiei/">Facebook</a></li>
									<li><a href="https://www.linkedin.com/in/alin-rizea-b10368104/" target="_blank">LinkedIn</a></li>		
									<li class="last-li"><a href="https://github.com/elisrizea" target="_blank">GitHub</a></li>
								</ul>
							</div>


						</div>  <!-- End row -->
					</div>	<!-- END BOTTOM FOOTER -->


				</div>	    <!-- End container -->
			</footer>	<!-- END FOOTER-2 -->




		</div>	<!-- END PAGE CONTENT -->




		<!-- EXTERNAL SCRIPTS
		============================================= -->	
		<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>	
		<script src="{% static 'js/modernizr.custom.js' %}"></script>
		<script src="{% static 'js/jquery.easing.js' %}"></script>
		<script src="{% static 'js/jquery.appear.js' %}"></script>
		<script src="{% static 'js/jquery.scrollto.js' %}"></script>	
		<script src="{% static 'js/menu.js' %}"></script>
		<script src="{% static 'js/jquery.flexslider.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/jquery.validate.min.js' %}"></script>
		<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>	
		<script src="{% static 'js/wow.js' %}"></script>
		<!-- EXTERNAL SCRIPTS
		<script src="{% static 'js/contact-form.js' %}"></script>
				-->
		<!-- Custom Script -->		
		<script src="{% static 'js/custom.js' %}"></script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->															
		<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->




	</body>




</html>	