{% load static %}

<!DOCTYPE html>
<!-- NordEx - Premium App Landing Pages Pack Template design by DSAThemes (http://www.dsathemes.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">




	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="author" content="{{ m.h_meta_author }}"/>	
		<meta name="description" content="{{ m.h_meta_description }}"/>
		<meta name="keywords" content="{{ m.h_meta_keywords }}">	
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
				
  		<!-- SITE TITLE -->
		<title> {{ m.h_title }}</title>
							
		<!-- FAVICON AND TOUCH ICONS -->
		<link rel="shortcut icon" href="{% static 'images/1024.png' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'images/1024.png' %}" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
		<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
		<link rel="icon" href="{% static 'images/apple-touch-icon.png' %}" type="ro/image/x-icon">

		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@300;400;500;700;900&display=swap" rel="stylesheet">

		<!-- BOOTSTRAP CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
				
		<!-- FONT ICONS -->
		<link href="{% static 'css/flaticon.css' %}" rel="stylesheet">

		<!-- PLUGINS STYLESHEET -->
		<link href="{% static 'css/menu.css' %}" rel="stylesheet">	
		<link id="effect" href="{% static 'css/dropdown-effects/fade-down.css' %}" media="all" rel="stylesheet">
		<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">	
		<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/flexslider.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">	
		<!-- TEMPLATE CSS -->
		<link href="{% static 'css/animate.css' %}" rel="stylesheet">	
		
		<!-- ON SCROLL ANIMATION -->
		<link href="{% static 'css/animate.css' %} rel="stylesheet">

		<!-- RESPONSIVE CSS -->
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
	
	</head>


