{% load static %}

	<body>




<!-- PRELOADER SPINNER
============================================= 
<div id="loader-wrapper">
	<div id="loading">
		<span class="cssload-loader"><span class="cssload-loader-inner"></span></span>
	</div>
</div>

-->	


<!-- PAGE CONTENT
============================================= -->	
<div id="page" class="page">




	<!-- HEADER
	============================================= -->
	<header id="header" class="header tra-menu navbar-dark">
		<div class="header-wrapper">


			<!-- MOBILE HEADER -->
			<div class="wsmobileheader clearfix">	  	
				<span class="smllogo"><img src="{% static 'images/1024.png' %}" alt="mobile-logo"/></span>
				<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>	
			 </div>
	

				 	<!-- MAIN MENU -->
					 <nav class="wsmenu clearfix">
								   
						<ul class="wsmenu-list nav-rose-hover">
<!-- SIMPLE NAVIGATION LINK -->
							<li class="nl-simple" aria-haspopup="true"><a href="{% url 'home' %}">{{menu.home}} </a></li>



<!-- SIMPLE NAVIGATION LINK -->
<li class="nl-simple" aria-haspopup="true"><a href="{% url 'about' %}">{{menu.about}}</a></li>

					

							<!-- DROPDOWN MENU 
							  <li aria-haspopup="true"><a href="?despre-noi">Despre Noi <span class="wsarrow"></span></a>
								
									<li aria-haspopup="true"><a href="#content-12">Despre Noi</a></li>
									<li aria-haspopup="true"><a href="#content-3">De ce Noi</a></li>	 
									<li aria-haspopup="true"><a href="#features-5">Solutii</a></li>
									<li aria-haspopup="true"><a href="#content-2">Cum Functioneaza</a></li>
										
							  <ul class="sub-menu">
								   </ul>
							</li>  -->


						  


							<!-- DROPDOWN MENU -->
							<li aria-haspopup="false">
							    <a href="{% url 'platform' %}">{{menu.platform}}<span class="wsarrow"></span></a>
								<div class="wsmegamenu clearfix halfmenu">
									  <div class="container-fluid">
										<div class="row">

											<!-- Links -->
											<ul class="col-lg-6 link-list">	
											<li><a href="#" onClick="myFunction2()" >{{menu.store}}</a>
							</li> 
<script>
function myFunction2() {
  window.open("https://store.a2.software/ro/", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=20,left=50,width=1200,height=600");
}
</script></li>
												<li><a href="{% url 'webapp' %}">{{menu.webapp}}</a></li>
												<li><a href="{% url 'platform' %}">{{menu.platform}}</a></li>
												<li><a href="{% url 'faqs' %}">{{menu.faqs}}</a></li>
												<li><a href="{% url 'cookie' %}">{{menu.cookie}}</a></li>
											
											</ul>

											  <!-- Links 
											<ul class="col-lg-6 link-list">							                  
												
												
											 
											</ul>
-->
										</div>
									  </div>
								</div>
							  </li>	<!-- END DROPDOWN MENU -->


							<!-- SIMPLE NAVIGATION LINK --> 
							<li class="nl-simple" aria-haspopup="true"><a href="{% url 'contact' %}">{{menu.contact}}</a></li>


							


							<!-- HEADER BUTTON -->
							<li class="nl-simple" aria-haspopup="true">
								<a href="#" onClick="myFunction()" class="btn btn-rose tra-rose-hover last-link">{{menu.partner}}</a>
							</li> 
							<li> 
							<a href="https://a2.software/en/"> <p><img src="https://a2.software/ro/images/uk.png" alt="english Language" width="50" height="25">English</p></a>
							</li> 
<script>
function myFunction() {
  window.open("https://app.a2.software/", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=20,left=50,width=1200,height=500");
}
</script>

							<!-- APPSTORE BADGE 
							<li class="nl-simple" aria-haspopup="true">
								<a href="#" class="store header-store">
									<img class="appstore-header" src="images/appstore.png" alt="appstore-logo">
								</a>
							</li> -->


							<!-- GOOGLE PLAY BADGE 
							<li class="nl-simple" aria-haspopup="true">
								<a href="#" class="store header-store">
									<img class="googleplay-header" src="images/googleplay.png" alt="googleplay-logo">
								</a>
							</li>  
-->

							<!-- HEADER SOCIAL LINKS 													
							<li class="nl-simple white-color header-socials ico-20 clearfix" aria-haspopup="true">
								<span><a href="#" class="ico-facebook"><span class="flaticon-facebook"></span></a></span>
								<span><a href="#" class="ico-twitter"><span class="flaticon-twitter"></span></a></span>
								<span><a href="#" class="ico-instagram"><span class="flaticon-instagram"></span></a></span>
								<span><a href="#" class="ico-dribbble"><span class="flaticon-dribbble"></span></a></span>	
							</li> -->	


						</ul>
					</nav>	<!-- END MAIN MENU -->


	    				</div>
	    			</div>	<!-- END NAVIGATION MENU -->


				</div>     <!-- End header-wrapper -->
			</header>	<!-- END HEADER -->

